# Specifies the local addresses esocksd should listen on. The following forms may be used:
#   ListenAddress IPv4_addr|IPv6_addr
#   ListenAddress IPv4_addr:port
#   ListenAddress [IPv6_addr]:port
# Multiple options of this type are permitted. 
# The default is to listen on all local addresses.
ListenAddress 0.0.0.0

# Specifies the port number that esocksd listens on. 
# The default is 1080. Multiple options of this type are permitted. 
# See also ListenAddress. 
Port 1080

# Gives the verbosity level that is used when logging messages from esocksd. The possible values are: 
# emergency | alert | critical | error | warning | notice | info | debug
# The default is info
LogLevel info

# File to write logs into
LogFile esocksd.log

# Authentication method used. The possible values are:
# none | userpass
# none = no authentication required
# userpass = username + password authentcation required (disables SOCKS4 as it does not support authentication)
# The default is none
AuthMethod none

# File with usernames and passwords (htpasswd style) 
AuthFile esocksd.htpasswd

# SOCKS commands that are allowed. The possible values are: 
# connect | bind | udp_associate
# The following forms may be used:
#   connect
#   connect, bind
#   bind udp_associate
# The defauls is connect bind udp_associate
AllowCommands connect bind udp_associate

# Which networks to allow users to connect to
# Evaluated in order from top to bottom
# The default is to allow all networks except localhost
DisallowNetwork 127.0.0.1/8
DisallowNetwork ::1/128
AllowNetwork 0.0.0.0
AllowNetwork ::/0
